body {
    margin: 0;
}

.first-section {
    background-color: hsl(193, 100%, 96%);
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
    background-image: url("../images/bg-hero-desktop.svg");
}

.first-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

#try-it-button {
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: 0;
    box-shadow: 0.5px 0.5px 5px 5px hsl(208, 11%, 55%);
}

.second-bar {
    display: flex;
    justify-self: space-between;
}

#second-bar-text {
    flex-direction: column;
    flex: 1;
}

#second-bar-image {
    flex: 2;
    
}

#illustration-mockup {
    /*width: 750px;*/
    max-width: 100%;
}

.get-started-button{
    background-color: hsl(322, 100%, 66%);
    border-radius: 2rem;
    border: 0;
    width: 200px;
    color: white;
    font-size: 18px;
    padding: 25px 10px;
    font-weight: 600;

}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#first-p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.mid-section {
    display: flex;
    gap: 200px;
    justify-content: space-between;
    align-items: center;
    /*box-shadow: 0.5px 0.5px 5px 5px hsl(208, 11%, 55%);*/
    box-shadow: 0.125px 0.125px 1.25px 1.25px hsl(208, 11%, 55%);
    border-radius: 10px;
    padding: 5%;
    margin: 5rem;

}

.mid-section-content {
    flex: 1;
}

/*
#second-section-text {
    align-items: center;
}
*/

.mid-section-images {
    width: 100%;
}

p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(208, 11%, 55%);
    /*line-height: 1.5rem;*/
}

.fifth-section {
    position: absolute;
    margin: 0 22%;
    padding: 3%;
    z-index: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0.125px 0.125px 1.25px 1.25px hsl(208, 11%, 55%);
}

#bottom-get-started {
    width: 60%;
}

.sixth-section {
    padding: 200px 5%;
    background-color: hsl(192, 100%, 9%);
    margin-top: 200px;
}

.sixth-section-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: minmax(200px, 350px) 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 12%;
}

#sixth-section-logo {
    filter: brightness(0) invert(1);
}

.sixth-section-block {
    flex: 1;
}

.b1 {
    display: flex;
    gap: 10%;
}

.b2 {
    display: flex;
    
}

.b3 {
    display: flex;
}

.icon {
    margin-top: 6%;
    height: 15px;
    width: 15px;
}
.sixth-section-block-social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.social-media-icons {
    margin-top: 17%;
    width: 40%;
    filter: invert(1);
}

footer {
    background-color: hsl(192, 100%, 9%);
}

